<div class="affiliations">
    <h5>Affiliations & Internships</h5>
    <div class="affiliation-container">
        <!-- IIIT Delhi -->
        <div class="affiliation-item">
            <a href="https://iiitd.ac.in/" target="_blank">
                <img src="/assets/img/iiitd_logo.jpeg" alt="IIIT Delhi Logo" style="width: 80px;">
            </a>
            <div class="affiliation-text">
                IIIT Delhi<br>2017-2021<br>B. Tech Computer Science
            </div>
        </div>

        <!-- TCS Research -->
        <div class="affiliation-item">
            <a href="https://www.tcs.com/what-we-do/research" target="_blank">
                <img src="/assets/img/tcs_research_logo.jpeg" alt="TCS Research Logo" style="width: 120px;">
            </a>
            <div class="affiliation-text">
                TCS Research<br>Summer 2020<br>Research Intern<br>Network Sciences
            </div>
        </div>

        <!-- UIUC -->
        <div class="affiliation-item">
            <a href="https://cs.illinois.edu/" target="_blank">
                <img src="/assets/img/uiuc_logo.png" alt="UIUC Logo" style="width: 80px;">
            </a>
            <div class="affiliation-text">
                UIUC<br>2024-Present<br>PhD Computer Science<br>MS CS (2022-2024)
            </div>
        </div>

        <!-- Ema Inc. -->
        <div class="affiliation-item">
            <a href="https://ema.co/" target="_blank">
                <img src="/assets/img/ema_logo_new.png" alt="Ema Inc. Logo" style="width: 120px;">
            </a>
            <div class="affiliation-text">
                Ema Inc.<br>Summer 2023<br>Applied Science Intern<br>Generative AI Team
            </div>
        </div>

        <!-- LG AI Research -->
        <div class="affiliation-item">
            <a href="https://www.lgresearch.ai/" target="_blank">
                <img src="/assets/img/lg_ai_research_logo.png" alt="LG AI Research Logo" style="width: 150px;">
            </a>
            <div class="affiliation-text">
                LG AI Research<br>Summer 2024<br>Research Intern<br>Bi-lingual LLM Team
            </div>
        </div>
    </div>
</div>