<div class="affiliations">
    <h5>Affiliations</h5>

    <table class="affiliation-table">
        <tbody>
        <tr>
            <td class="affiliation-cell">
                <a href="https://iiitd.ac.in/" target="_blank">
                <img class="affiliation-logo affiliation-logo-sm" src="/assets/img/iiitd_logo.jpeg" alt="IIIT Delhi"></a>
            </td>
            <td class="affiliation-cell">
                <a href="https://www.tcs.com/what-we-do/research" target="_blank">
                <img class="affiliation-logo affiliation-logo-md" src="/assets/img/tcs_research_logo.jpeg" alt="TCS Research"></a>
            </td>
            <td class="affiliation-cell">
                <a href="https://cs.illinois.edu/" target="_blank">
                <img class="affiliation-logo affiliation-logo-sm" src="/assets/img/uiuc_logo.png" alt="UIUC"></a>
            </td>
            <td class="affiliation-cell">
                <a href="https://ema.co/" target="_blank">
                <img class="affiliation-logo affiliation-logo-md" src="/assets/img/ema_logo_new.png" alt="Ema Inc."></a>
            </td>
            <td class="affiliation-cell">
                <a href="https://www.lgresearch.ai/" target="_blank">
                <img class="affiliation-logo affiliation-logo-lg" src="/assets/img/lg_ai_research_logo.png" alt="LG AI Research"></a>
            </td>
        </tr>
        <tr>
            <td class="affiliation-cell affiliation-text">IIIT Delhi<br>2017-2021<br>B. Tech Computer Science</td>
            <td class="affiliation-cell affiliation-text">TCS Research<br>Summer 2020<br>Research Intern<br>Network Sciences</td>
            <td class="affiliation-cell affiliation-text">UIUC<br>2024-Present<br>PhD Computer Science<br>MS CS (2022-2024)</td>
            <td class="affiliation-cell affiliation-text">Ema Inc.<br>Summer 2023<br>Applied Science Intern<br>Generative AI Team</td>
            <td class="affiliation-cell affiliation-text">LG AI Research<br>Summer 2024<br>Research Intern<br>Bi-lingual LLM Team</td>
        </tr>
        </tbody>
    </table>
</div>