<div class="affiliations">
    <h5>Affiliations & Internships</h5>

    <table align="center">
        <tbody>
        <tr>
            <td align="center">
                <a href="https://iiitd.ac.in/" target="_blank">
                <img style="width:80px" src="/assets/img/iiitd_logo.jpeg"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://www.tcs.com/what-we-do/research" target="_blank">
                <img style="width:120px" src="/assets/img/tcs_research_logo.jpeg"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://prodigaltech.com/" target="_blank">
                <img style="width:120px" src="/assets/img/prodigal_logo.jpg"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://cs.illinois.edu/" target="_blank">
                <img style="width:80px" src="/assets/img/uiuc_logo.png"></a>&nbsp; &nbsp;
            </td>
            <td align="center">
                <a href="https://ema.co/" target="_blank">
                <img style="width:120px" src="/assets/img/ema_logo.png"></a>&nbsp; &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 10px;"><font size="2">IIIT Delhi<br>2017-2021<br>B. Tech Computer Science</font></td>
            <td align="center" style="padding: 10px;"><font size="2">TCS Research<br>Summer 2020<br>Research Intern<br> Network Sciences </font></td>
            <td align="center" style="padding: 10px;"><font size="2">Prodigal Technologies<br>2021-22<br> Natural Language Processing (NLP) Engineer<br> ProVoice Team </font></td>
            <td align="center" style="padding: 10px;"><font size="2">UIUC<br>2022-Present<br>MS Computer Science</font></td>
            <td align="center" style="padding: 10px;"><font size="2">Ema Inc.<br>Summer 2023<br>Applied Science Intern<br>Generative AI Team</font></td>
        </tr>
        </tbody>
    </table>
  </div>