---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

h5.title {
  color: black !important;
}

.square-image {
  width: auto; /* Allow width to adjust automatically */
  max-width: 200px; /* Set a maximum width for better visibility */
  height: auto; /* Maintain the aspect ratio */
  max-height: 250px; /* Set a maximum height to keep the image aligned */
  object-fit: cover; /* Ensures the image fills the area while maintaining its aspect ratio */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.profile {
  display: block;
  max-width: 200px; /* Increase the maximum width of the profile container */
  margin: 10px; /* Adds margin around the profile picture */
}